body {
  background: rgb(165, 141, 145);
}

h1.intro{
  text-align: center;
  font-size: 5rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

h2.explain{
  text-align: center;
  font-size: 2rem;
  color: ivory;
  border-radius: 5px;
  border: 2px solid ivory; 
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 40px solid ivory;

}

h1.resume{
  font-size: 5rem;
  text-align: center;
  border: 2px solid black;
}

.res{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p.bio{
  font-size: 1.2rem;
  text-align: center;
  font-style: italic;
}


.container {
  width: 100%; 
  max-width: 980px;
  margin: auto; 
}


.hero .container{
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between;
}

.card{
  width: 800px; 
  height: 550px;
  background: ivory;
  color: black;
  padding: 40px; 
  margin: 30px 0; 
}

h1.card1{
  font-size: 2rem;
  text-align: center;
  border: 3px solid black; 
  font-style: normal;
}

h2.card2{
  font-size: 1.5rem;
  text-align: center;
  font-style: oblique;
}

.cardPic{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1.projectHeader{
  font-size: 5rem;
  text-align: center;
  border: 2px solid black;

}

button{
  font-size: 1.5rem;
  color: black; 

}